@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    

}
.body{
    background-color: #eef2ff;
}
.p{
    position: absolute;
    padding-top: 43px;
    padding-left: 26px;
}
.logo{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 40px;
    font-weight: 550;
}
.logof{
    color: rgb(136, 0, 255);
}

.nav{
    position:absolute;
    right: 20px;
    display: flex;
    top: 10px;
}
.nav li{
    
    padding: 20px;
    text-decoration: none;
    list-style: none;
    
     
}
.nav li a{
    color: #0458ff;
    font-weight: 500;    
    font-size: 25px;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    text-align: right;
         
}
.nav li a:hover{
    font-size: 30px;
    transition: 0.5s;
    
}
.h1{
    position: absolute;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 40px;
    color:#001AFF;
}
.p1{
    color:#4d4d4d;
    position: absolute;
    font-size: 30px;
    padding-top: 240px;
    padding-left: 60px;
    line-height: 70px;
    font-weight: 550;
}
.p1m{
    display: none;
}
.img1{
    padding-top: 60px;
    float: right;
    padding-right: 100px;
    width: 660px;
}
.menu{
    display: none;
}
.main{
    position: relative;
    width: 900px;
    height: 1050px;
    left: 300px;
    top: 700px;
    background: rgb(247, 247, 247);
    box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.12);
    border-radius: 27px;

}
.head{
    font-size: 35px;
    text-align: center;
    padding-top: 27px;
    font-weight: 500;
}
.anna{
    text-align: center;
}
.inputf{
    padding-top: 50px;
    padding-left: 45px;
    font-size: 25px;
    color: #383838;
}
.sinput{
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    width: 327px;
    height: 55px;
    background: #FFFFFF;
    border-color: #7d7d7d;
    color:#ff0000 ;
    border-radius: 5px;
    font-size: 20px;
    left: 20px;
}
.sel{
    color: #ff0000;
}
.in{
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    width: 400px;
    height: 55px;
    background: #FFFFFF;
    border-radius:5px;
    font-size: 15px;
    color: #0225a4;
    left: 20px;
}
.input{
    padding-left: 190px;
    padding-top: 20px;
    font-size: 25px;
    color: #383838;
    border-color: #7d7d7d;
}
.calbtn{
    position: absolute;
    width: 215px;
    height: 55px;
    margin-top: 50px;
    left: 200px;
    color: #dde5ff;
    background: #001AFF;
    box-shadow: 0px 19px 49px 14px rgba(0, 56, 255, 0.22);
    border-radius: 9px;
    border-style: none;
    font-size: 20px;
}
.output{
    position: absolute;
    width: 215px;
    height: 55px;
    margin-top: 50px;
    left: 520px;
    color: #000000;
    background: #ffffff;
    border-color: #000000;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 200;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 9px;
    text-align: center;
}
.outx{
    text-align: center;
    padding: 13px;
    font-size: 20px;
    font-weight: 400;

}
.mystyle{
    display: none;
}
.mark{
    margin-top: 100px;
    margin-left: 240px;
    box-shadow: 0px 0px 80px 5px rgba(0, 0, 0, 0.12);
}
.h2{
    margin-top: 900px;
    padding-left: 50px;
    font-size: 35px;
    color: #001AFF;
}
.p2{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    color: #434549;
}
.cont{
    padding-bottom: 40px;
    font-size: 45px;
    margin-left: 430px;
}
.form{
    position: absolute;
    padding-top: 100px;
    padding-left: 230px;
}
.name{
    border-radius: 15px;
    position: absolute;
    width: 300px;    height: 10px;
    padding: 30px;
    left:350px;
    border-color: #1d30da;
}
.email{
    border-radius: 15px;
    position: absolute;
    width: 300px;
    height: 10px;
    padding: 30px;
    left: 780px;
    border-color: #001AFF;
}
.subject{
    border-radius: 15px;
    position: absolute;
    width: 730px;
    height: 10px;
    padding: 30px;
    margin-top: 100px;
    left: 350px;
    border-color: #001AFF;
}
.text{
    border-radius: 15px;
    position: absolute;
    width: 730px;
    height: 150px;
    padding: 30px;
    margin-top: 200px;
    left: 350px;
    border-color: #001AFF;
}
.send{
    position: absolute;
    width: 200px;
    height: 55px;
    margin-top: 450px;
    margin-left: 150px;
    color: #dde5ff;
    background: #001AFF;
    box-shadow: 0px 19px 49px 14px rgba(0, 56, 255, 0.22);
    border-radius: 9px;
    border-style: none;
    font-size: 20px;
}


@media screen and (max-width:840px){

    .p{
        padding-top: 32px;
        font-size: 15px;
    }
    .logo{
        font-size: 28px;
    }
    .main{
        position: absolute;
        top: 600px;
        left: 20px;
        width: 320px;
        height: 790px;
        border-radius: 10px;
    }
    .menu{
        display: flex;
    }
    .head{
        font-size: 27px;
    }
    .anna{
        font-size: 10px;
        color: #6a6a6a;
    }
    .inputf{
        padding-left: 20px;
        font-size: 15px;
        max-width: 150px;
    }
    .sinput{
        width: 100px;
        height: 40px;
        font-size: 15px;
        top: -50px;
        left: 150px;
    }
    .input{
        position: relative;
    }
    .in{
        font-size: 15px;
        width: 180px;
        height: 40px;
    }
    .input{
        position: relative;
        font-size: 15px;
        padding-left: 20px;
        padding-top: 15px;
        top: -30px;
    }
    .calbtn{
        margin-top: 1px;
        left: 25px;
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: white;
    }
    .output{
        margin-top: 1px;
        left: 170px;
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
    .outx{
        position: relative;
        padding-top: 7px;
        font-size: 15px;
        color: #000000;
    }
    .nav{
        display: none;
    }
 
    
    .h1{
        padding-top: 30px;
        font-size: 20px;
    }
    .p1{
        display: none;
    }
    .p1m{
        display: flex;
        position: absolute;
        font-size: 17px;
        line-height: 30px;
        padding-left: 25px;
        padding-top: 350px;
        font-weight: 500;
        color: #193bb6;
        width: 320px;
    }
    .img1{
        position: absolute;
        width: 290px;
        padding-top: 100px;
        padding-left: 30px;
        
    }
    
    .h2{
        padding-top: 470px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 25px;
    }
    .p2{
        font-size: 15px;
        padding: 20px;
    }
    .mark{
        width: 350px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .cont{
        font-size: 25px;
        margin-left: 250px;
    }
    .form{
        margin-left: -350px;
    }
    .name{
        width: 115px;
        height: 1px;
        font-size: 10px;
        padding: 20px;
        border-radius: 5px;
        margin-left: 15px;
        border-color: #001AFF;
    }
    .email{
        position: absolute;
        width: 115px;
        height: 1px;
        font-size: 10px;
        padding: 20px;
        border-radius: 5px;
        margin-left: -245px;
        border-color: #001AFF;
    }
    .subject{
        width: 290px;
        height: 1px;
        font-size: 10px;
        padding: 20px;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 60px;
        border-color: #001AFF;
    }
    .text{
        width: 290px;
        height: 80px;
        font-size: 10px;
        padding: 20px;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 120px;
        border-color: #001AFF;
    }
    .send{
        position: absolute;
        width: 120px;
        height: 40px;
        font-size: 15px;
        color: white;
        margin-top: 260px;
        margin-left: 140px;
    }
}